body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1E1F25;
border-radius: 20px;
  text-align: center;
  margin-top:2em ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {color:#fff;
  font-size: 20px}

h1 {color:#fff;
  text-align: left;
  font-size: 60px;
}

h3 {
  color:#fff;
  text-align: left;
  font-size: 30px;
}


h4 {color:#757B8C;
  text-align: left;
font-size: 20px
}

.right{
  float:right;
}

.left{
  float:left;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #246CF9; border-radius: 50%;
  display: inline-block;
}

.dot1 {
  height: 12px;
  width: 12px;
  background-color: 	#FF1493; border-radius: 50%;
  display: inline-block;
}

.btn1 {
  background-color: #246CF9;
  border: none;
  color: white;
  padding: 6px 15px;
  width: 80px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 6px;
}

.daily {
  margin-right: -1100px;
  margin-top: -30px;
}

.btn2 {
  background-color: #282C38; 
  border: white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 6px;
}


.card {
  box-sizing: border-box;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;
  width: 320px;
  height: 180px;
  position: absolute;
  left: 51.71%;
  right: 12.94%;
  top: 28%;
  bottom: 48%;
  background: rgba(60, 66, 84, 0.5);
  border: 1px solid #3C4254;
  backdrop-filter: blur(14px);
  border-radius: 8px;
}

.container {
  color: white;
  margin-top: -28px;
  margin-left: 30px;
  font-size: 23px;
}

.signup {
  margin-top: -40px;
  margin-right: 680px;
  color: white;
  font-size: 25px;
}

.bottom_btn {
  align-items: left;
  padding: 2px 8px;
  font-size: 20px;
  gap: 4px;
  color: #30E0A1;
  width: 95px;
  font-size: 25px;
  height: 45px;
  background: rgba(48, 224, 161, 0.2);
  border-radius: 10px;
  border: none;
  margin-right: 1050px;
  margin-top: 65px;
}

.up {
  color: #11CABE;
}

.down {
  color: #FA2256;
}

.view1 {
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: -380px;
}

.last {
  margin-top: -30px;
  font-size: 23px;
  margin-left: 380px;
  color: white;
}

.this {
  margin-top: -40px;
  font-size: 23px;
  margin-left: 720px;
  color: white;
}